* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 0.3rem solid #fff;
}
.menu-btn__burger {
  width: 5rem;
  height: 0.6rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(225, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  position: relative;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  height: 0.6rem;
  width: 5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(225, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-1.6rem);
}
.menu-btn__burger::after {
  transform: translateY(1.6rem);
}
/* ANIMATION */

.open .menu-btn__burger {
  transform: translateX(-5rem);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(3.5rem, -3.5rem);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(3.5rem, 3.5rem);
}
